@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap'); 

*{
    margin: 0;
    padding:0;
    box-sizing:border-box;
    text-decoration: none;
    border: none;
    outline: none;
    font-family: 'poppins','sans-serif';
    scroll-behavior: smooth;
}
html{
    font-size:62.5%;
}
body{
    width:100%;
    height: 100vh;
    overflow-x : hidden;
    background-color: black;
    color : white;
}

header{
    margin-top:0;
    position: fixed;
    top: 0;
    left: 0;
    width:100%;
    padding:1rem 9%;
    background-color:black;
    filter:drop-shadow(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:999;
    -webkit-filter:drop-shadow(10px);
}
.logo{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 3rem;
    color:#b74b4b;
    font-weight:800;
    cursor:pointer;
    transition:0.5s ease;
}
.logo:hover{
    transform:scale(1.1);
}
nav a{
    font-size: 1.8rem;
    color: white;
    margin-left: 4rem;
    font-weight: 500;
    transition:0.3s ease;
    border-bottom: 3px solid transparent;
}
nav a:hover,nav a.active{
    color: #b74b4b;
    border-bottom:3px solid #b74b4b;  
}
@media(max-width:995px){
    nav{
        position:absolute;
        display:none;
        top:0;
        right:0;
        width: 40%;
        border-left:3px solid black;
        border-bottom:3px solid black;
        border-bottom-left-radius: 2rem;
        padding: 1rem solid;
        background-color: #161616;
        border-top: 0.1rem solid rgba(0,0,0,0.1);
    }
    nav.active{
        display:block;
    }
    nav a{
        display:block;
        font-size:2rem;
        margin:3rem 0;   
    }
    nav a:hover,nav a.active{
        padding:1rem;
        border-radius:0.5rem;
        border-bottom:0.5rem solid #b74b4b;

    
    }
}
section{
    min-height: 100vh;
    padding: 5rem 9% 5rem;
}
.home{
    display: flex;
    justify-content:center;
    align-items:center;
    gap: 8rem;
    background-color: black;

}
.home.home-content h1{
    font-size:6rem;
    font-weight:700;
    line-height:1.3;
}
span{
    color: #b74b4b;
}
.home-content h3{
    font-size:4rem;
    margin-bottom: 1rem;
    font-weight: 700;
}
.home-content p{
    font-size:1.6rem;
}
.home-image{
    border-radius: 50%;
}
.home-img img{
    position:relative;
    width: 32vw;
    border-radius: 50%;
    box-shadow:0 0 25px solid #b74b4b;
    cursor: pointer;
    transition:0.2s linear;
 }
.home-img img:hover{
    font-size: 1.8rem;
    font-weight: 500;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4rem;
    height:4rem;
    background-color: transparent;
    border:0.2rem solid #b74b4b;
    font-size: 2rem;
    border-radius: 50%;
    margin:3rem 1.5rem 3rem 0 ;
    transition: 0.3s ease;
    color: white;
}
.social-icons a:hover{
    color: black;
    transform:scale(1.3) translateY(-5px) ;
    background-color: #b74b4b;
    box-shadow:0 0 25px #b74b4b;
}
.btn{
    display: inline-block;
    padding:1rem 2.8rem;
    background-color: black;
    border-radius:4rem;
    font-size:1.6rem;
    color: #b74b4b;
    letter-spacing:0.3rem;
    font-weight: 600;
    border:2px solid #b74b4b;
    transition: 0.7s ease;
    cursor: pointer;
}
.btn:hover{
    transform: scale(1.05);
    background-color:#b74b4b ;
    color: black;
    box-shadow: 0 0 25px #b74b4b;

}
.typing-text{
    font-size: 34px;
    font-weight:600;
    min-width: 280px;
}
.typing-text span{
    position:relative;
}
.typing-text span:before{
    content: "Web developer";
    color: #b74b4b;
    animation: words 20px infinite ;
}
.typing-text span::after{
    content: "";
    background-color: black;
    position: absolute;
    width: calc(100%+8px);
    height:100%;
    border-left: 3px solid black;
    right: -8;
    animation:cursor 0.6s infinite;
}
@keyframes cursor{
    to{
        border-left: 3px solid #b74b4b ;

    }

}


@media(max-width:995px){
    .home{
        gap:4rem;

    }
}
@media(max-width:995px){
    .home{
        flex-direction: column;
        margin:5rem;
    }
    .home .home-content h3{
        font-size:2.5rem;
    }
    .home-content h1{
        font-size:5rem;
    }
    .home-img img{
        width:70vw;
        margin-top:4rem;
    }

}

.title{
    display: flex;
    justify-content: center;
    color: #b74b4b;
    font-size: 2.2rem;
    font-weight: 800;
    margin-bottom: 30px;

}
.content{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.card{
    background-color: #161616;
    width: 21.25rem;
    padding: 30px;
    box-shadow: 0 5px 25px rgba(227 38 54 /25%);
    border-radius: 10px;
    padding: 25px;
    margin: 15px;
    transition: 0.5s ease;
}
.card:hover{
    transform: scale(1.1);
}
.icon{
    color: #b74b4b;
    font-size: 8rem;
    text-align: center;
}
.info{
    text-align: center;
}
.info h3{
    color: #b74b4b;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px;
}

.project .content{
    margin-top: 30px;
}
.project-card{
    background-color: #161616;
    border:1px solid #b74b4b;
    min-height: 20rem;
    width: 23rem;
    overflow: hidden;
    border-radius: 10px;
    margin: 20px;
    transition: 0.7s ease;
}
.project-card:hover{
    transform: scale(1.1);
}
.project-img img{
    width: 100%;
}
.project-card:hover .project-img{
    opacity: 0.9;
}
.project-info{
    padding: 1rem;
}
.project-category{
    font-size:0.8rem;
    color: #b74b4b;
}
.project-title{
    display: flex;
    justify-content: space-between;
    text-transform: uppercase;
    font-weight: 800;
    margin-top: 18px;
}
.more_details{
    text-decoration: none;
    color: #b74b4b;
}
.contact .icon{
    font-size: 4.5rem;
}
.content .info h3{
    color: white;
}
.footer{
    background-color: #161616;
    color: white;
    padding: 2rem;
    display: flex;
    justify-content: space-between;
}
.footer-title{
    font-size: 2rem;
    font-weight: 600;
}
.footer-title span{
    color: #b74b4b;
}
.footer .social-icons a{
    font-size: 1.3rem;

}
@media(max-width:995px){
    section{
        padding: 80px 20px;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    
    
}
@media (max-width:641px) {
    body{
        font-size: 12px;
    }
    .home-content h2{
        font-size: 0.8rem;
    }
    .home-content h3{
        font-size: 1.4rem;
    }
    
}
@media (max-width:300px) {
    body{
        font-size: 10px;
    }
    
}
